@import './fonts.css';



.stats-container {
    margin-top: 22px;
    display: flex;
    justify-content: space-between;
    background: rgba(10, 16, 27, 0.8);
    background-image: url('../img/stats_bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    mix-blend-mode: darken;
    border-radius: 30px;
    padding: 50px 120px;
    box-sizing: border-box;
    position: relative;
    isolation: isolate;
}
  
/* Individual stat item */
.stat-item {
    width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.stat-value {
    margin: 0;
    padding: 0;
    /* margin-bottom: 12px; */
    /* margin-bottom: 28px; */
    color: #F254CB;
    font-family: "Helvetica Neue";
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px; /* 114.286% */
}
  
.stat-label {
    margin: 0;
    padding: 0;
    color: #C2DAFF;
    text-align: center;
    font-family: "Helvetica Neue";
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px; /* 100% */
}
  